# Some comment

local_temp_directory:          /tmp
database_password_generator:   ~/dba/bin/dbsp `cat ~/.dbpassword`
# server_name:                 somehost:4901
notification_command:          /usr/sbin/ticmcmc --stdin
