# Some comment

local_temp_directory:          /tmp
sap.ASE.version:               16_0
sap.SID:                       JLD
sap.CID:                       AZU

azure.storage.account_name:    erlang
azure.storage.account_key:     hkfhsdkjfhkshsfhkjshkjfd/Yn8k85MQ==
azure.storage.container_name:  foo
